/* File: buyPage.html
Programmers: Ben Baierl, Drew Heald, Gloria Tie, and Madison Lucas
This is the CSS specifications to format all the HTML templates. */
* { box-sizing: border-box }
div{
  padding: 4% 10%;
  text-align: center;
}
.one{
  background-image: -webkit-linear-gradient(30deg, #106576 50%, #12C9C8 50%);
  min-height: 100%;
  min-width: 100%;
}

body {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
  color: black;
  background-color: #12C9C8;
}

table, td, th{
  border: 1px solid black;
}

table {
  font-family: sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin: auto;
}

td, th {
  padding: 8px;
}

tr:nth-child(even){background-color: #AEDCC0;}
tr:nth-child(odd){background-color: #7BD389;}
tr:hover {background-color: #4AD361;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #343E3D;
  color: black;
}

button {
  background-color: white;
  border: 2px solid #e7e7e7;
  color: black;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}

button:hover {background-color: #e7e7e7}

pre {
  animation: cshift 5s infinite;
}

@keyframes cshift{
  50% {color: yellow}
}

.center {
  /*margin-left: auto;
  margin-right: auto;
  margin: auto;*/
  text-align: center;
}
