header {
  font-family: sans-serif;
  font: Avantgarde;
  font-weight: bold;
  color: #FFF8F0;
}

body {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
  background-color: #9DD9D2;
  padding-top: 35px;
}

table {
	font-family: sans-serif;
	border-collapse: collapse;
	width: 50%;
	margin: auto;
}

td, th {
	border: 1px solid #ddd;
	padding: 8px;
}

tr:nth-child(even){background-color: LightSlateGrey;}
tr:nth-child(odd){background-color: #a8b3bd;}
tr:hover {background-color: #d3d9de;}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: DarkSlateGray;
	color: White;
}

.center {
	/*margin-left: auto;
	margin-right: auto;
	margin: auto;*/
	 text-align: center;
}
