/* File: buyPage.html
Programmers: Ben Baierl, Drew Heald, Gloria Tie, and Madison Lucas
This is the CSS specifications to format all the HTML templates. */
* { box-sizing: border-box }

html {
  height: 100%
}
div{
  padding: 4% 10%;
  text-align: center;
  color: white;
}

#title{
  color: white;
  font-weight: bolder;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

body {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: black;
  text-align: center;
  background-image: linear-gradient(#26EFB4, #07466F);
  background-repeat:no-repeat;
  min-height: 100%
}

table, td, th{
  border: 1px solid black;
}

table {
  font-family: sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin: auto;
}

td, th {
  padding: 8px;
}

tr:nth-child(even){background-color: #transparent;}
tr:nth-child(odd){background-color: #7BD389;}
tr:hover {background-color: #e3e3e3;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: black;
}

button {
  background-color: white;
  border: 2px solid #e7e7e7;
  color: black;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}

button:hover {background-color: #e7e7e7}

pre {
  animation: cshift 5s infinite;
}

@keyframes cshift{
  50% {color: yellow}
}

.center {
  text-align: center;
  min-height: 100%;
}

#login {
  align-items: center;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
}

input[type=text] {
  color: black;
  border-radius: 5px;
}

h1, p{
  color: white;
  text-align: center;
}
