<!-- html templete you should reach when button 2 is pressed.-->
<html>
    <head>
        <title>Buyer View.</title>
        <p> Buy some swipes.</p>
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <form action="viewSwipes" method ="post">
        <p>Average Price of Swipe for Sale: {{ dataAvg }}</p>
        <p>Total Number of Swipes for Sale: {{ dataSum }}</p>

        <table style="width:50%">
            <tr>
                <th>Swipe ID</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
            {% if template_data['swipes']|length == 0 %}
            <p style="color: red;">No more swipes!</p>
            {% else %}
                {% for swipe in template_data['swipes'] %}
                <tr>
                    <th>{{ swipe[0]}}</th> <!-- swipe_id -->
                    <th>{{ swipe[1]}}</th> <!-- quantity -->
                    <th>{{ swipe[2]}}</th> <!-- price -->
                    <th><button name="buy_swipe" value="{{swipe[0]}}">buy</button></th>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
    </form>

    <form action="landingPage" method="post">
        <button name="goToLanding" value="goLand">Take me back to the start.</button>
    </form>

</html>
    