<!-- File: buyPage.html
     Programmers: Ben Baierl, Drew Heald, Gloria Tie, and Madison Lucas
     This is the html template for the buyer-view page of the online store. -->
<html>
    <head>
        <title>Buyer View</title>
                <h1> Buy your swipes here!</h1>
                <link rel="stylesheet" href="../static/index.css">
    </head> 
	<body>

            <!-- This form will trigger the method in run_app.py that will re-render the buyer-view
                 page when a swipe is purchased. -->
            <form action="viewSwipes" method ="post">

                <p>Your Buyer ID is: #{{ guest_id_counter}}</p>
                <p>Your Case ID is: {{ guest_case_id}}</p>  
                
                {% if template_data['swipes']|length == 0 %}
                        <p style="color: red;">No more swipes!</p>
                {% else %}
                
                    <p>Average Price of Swipe for Sale: ${{ '%.2f'%dataAvg }}</p>
                    <p>Total Number of Swipes for Sale: {{ dataSum }}</p>

                <table id="buy">
                    <tr>
                        <th>Swipe ID</th>
                        <th>Quantity</th>
                        <th>Price Per Swipe</th>
                        <th>Total Price</th>
                        <th>Purchase</th>
                    </tr>
                        {% for swipe in template_data['swipes'] %}
                            <tr>
                                <td>{{ swipe[0]}}</td>                      <!-- swipe_id -->
                                <td>{{ swipe[1]}}</td>                      <!-- quantity -->
                                <td>${{ '%.2f'%(swipe[2]/swipe[1]) }}</td>  <!-- average price per swipe -->
                                <td>${{ swipe[2]}}</td>                     <!-- price -->
                                <td><button name="buy_swipe" value="{{swipe[0]}}">buy</button></td>
                            </tr>
                        {% endfor %}
                    {% endif %}

                </table> 
				<button name="goToMyBoughtSwipes" id="goSwipesButton2">View Your Purchase History</button>
            </form>

            <!-- This form will trigger the method in run_app.py that will render the landing page. -->
            <form action="landingPage" method="post">
                <button name="goToLanding" value="goLand">Go to Home Page</button>
            </form>
        </div>
		</body>
</html>
    
