<!-- html templete for home page-->
<html>
    <head>
        <title>Triple S: Special Swipe Store.</title>
		<link rel="stylesheet" href="../static/index.css">
    </head>
    <body>
        <pre style="color: green; margin: auto; text-align: center">
             $$$$$$\   $$$$$$\   $$$$$$\  
            $$  __$$\ $$  __$$\ $$  __$$\ 
            $$ /  \__|$$ /  \__|$$ /  \__|
            \$$$$$$\  \$$$$$$\  \$$$$$$\  
             \____$$\  \____$$\  \____$$\ 
            $$\   $$ |$$\   $$ |$$\   $$ |
            \$$$$$$  |\$$$$$$  |\$$$$$$  |
             \______/  \______/  \______/   
        </pre>
        <p>Welcome to Triple S: Special Swipe Store</p>
        <p>Do you want to buy or sell your special meal swipes..</p>

        <form action="goToBuyPage" method = "post">
            <button name = "seeBuyerView" value="goToBuy">Click here if you are a buyer.</button>
        </form>

        <form action="goToSellPage" method = "post">
            <button name = "seeSellerView" value="goToSell">Click here if you are a seller.</button>
        </form>
    </body>
</html>