<!DOCTYPE html>
<html lang="en">
<head>
  <!--<link rel="stylesheet" href="../static/index.css">-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="../static/sellerInfo.js"></script>
  <meta charset="UTF-8">
  <title>Seller Login</title>
</head>
<body>

  <div id = "searchSection">
    <form action="../RMPLookup.py" method="post">
      Case ID:<br>
      <input type="text" id="caseID">
      <br>
      Quantity:<br>
      <input type="text" id="quantity">
      <br>
      Price:<br>
      <input type="text" id="price">
      <br><br>
      <div id = "button"> <button type="button" id = "submitSwipeButton">Submit Swipes</button></div>
    </form>
  </div>
</body>
</html>
