<!DOCTYPE html>
<html lang="en">
<head>
  <!--<link rel="stylesheet" href="../static/index.css">-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="../static/sellerInfo.js">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <meta charset="UTF-8">
  <title>Seller Login</title>
</head>
<body>
  <div id = "errMsg">
  <p id = "nameErr"> </p>
  <p id = "idErr"> </p>
  </div>
  <div id = "sellerLogin">

    <form action="../run_app.py" method="post">
      Name:<br>
      <input type="text" id="lastname">
      <br>
      Case ID:<br>
      <input type="text" id="caseID">
      <br>
      <br><br>
      <div id = "button"> <button type="button" id = "submitButton">Submit</button></div>
      <span id=result></span>
    </form>
  </div>
</body>
</html>
