<!DOCTYPE html>
<html lang="en">
<head>
  <!--<link rel="stylesheet" href="../static/index.css">-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="../static/sellerInfo.js"></script>
  <meta charset="UTF-8">
  <title>Seller Login</title>
</head>
<body>

  <div id = "listingInfo">
    <form action="submitSwipes" method="post">
      Case ID:<br>
      <input type="text" name="caseID" id="caseID" value="{{request.form.caseID}}">
      <br>
      Quantity:<br>
      <input type="text" name="quantity" id="quantity" value="{{request.form.quantity}}">
      <br>
      Price:<br>
      <input type="text" name="price" id="price" value="{{request.form.price}}">
      <br><br>
      <button name="sendListing" id = "submitSwipeButton">Submit Swipes</button>
    </form>
  </div>
</body>
</html>
