<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="../static/sellerInfo.js">
  </script>
  <meta charset="UTF-8">
  <title>Seller Login</title>
</head>
<body>
  <div id = "errMsg">
  <p id = "nameErr"> </p>
  <p id = "idErr"> </p>
  </div>
  <div id = "sellerLogin">

    <form action="createListing" method="post">
      Name:<br>
      <input type="text" name= "name" id="name" value="{{request.form.name}}">
      <br>
      Case ID:<br>
      <input type="text" name="caseID" id="caseID" value="{{request.form.caseID}}">
      <br>
      <br><br>
      <button name="sendSellerInfo" id = "submitButton">Submit</button>
    </form>

    <form action="landingPage" method="post">
        <button name="goToLanding" value="goHome">Home Page.</button>
    </form>
    
  </div>
</body>
</html>
